@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-vf.ttf") format("truetype");
}

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-mat-gradient-light: #e3e6ee;
    --color-mat-gradient-dark: #c5d8ff;
    --color-mat-light-blue: #c0d3ef;
    --color-mat-mid-blue: #486da5;
    --color-mat-dark-blue: #08286c;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% - 5rem));
    }
}

html {
    scroll-behavior: smooth;
}
